<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React and Flux microblogging app</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../lib/materialize/dist/css/materialize.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../styles/style.css" media="screen" title="no title" charset="utf-8">
</head>
<body class="container">
    <div class="row">
        <h1>Greeting , <span class="cyan-text text-accent-2"><%= user.username %></span></h1>
    </div>
    <div id="react-app-container"></div>
    <script> var USER = <%- JSON.stringify(user) %> </script>
    <script src="/main.js"></script>
</body>
</html>
