<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../lib/materialize/dist/css/materialize.min.css" media="screen" title="no title" charset="utf-8">
    <style>
        .flexbox {
            display: flex;
        }

        .flex {
            flex: 1;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="flow-text center-align">Look at my horse. <br> My horse is amazing!</h2>
            <div class="flexbox">
                <div class="grid-example flex col s6">
                    <h2>Log in</h2>

                    <form action="/login" method="post">
                        <p>
                            <label>Username</label>
                            <input type="text" name="username" class="s12" />
                        </p>
                        <p>
                            <label>Password</label>
                            <input type="password" name="password" class="s12" />
                        </p>
                        <button class="btn waves-effect waves-light">Log in
                           <i class="material-icons right">done</i>
                        </button>
                    </form>
                </div>
                <div class="grid-example flex col s6 offset-by-6">
                    <h2>Sign up</h2>

                    <form action="/signup" method="post">
                        <p>
                            <label>Full Name</label>
                            <input type="text" name="fullname" class="s12" />
                        </p>
                        <p>
                            <label>Email (to access your Gravatar)</label>
                            <input type="email" name="email" class="s12" />
                        </p>
                        <p>
                            <label>Username</label>
                            <input type="text" name="username" class="s12" />
                        </p>
                        <p>
                            <label>Password</label>
                            <input type="password" name="password" class="s12" />
                        </p>
                        <button class="btn waves-effect waves-light">Sign up
                           <i class="material-icons right">assignment_ind</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
