.buzzword {
    border: 1px solid #d1d1d1;
    border-right: 4px;
    padding: 6px;
}
.buzzword p {
    margin: 0;
}

.timestamp {
    color: #d1d1d1;
}

.buzzword img {
    display: none;
}

@media (min-width: 550px) {
    .buzzword img {
        display: block;
        width: 100%;
        border-radius: 4px;
    }
}
